html,
button,
input,
select,
textarea {
	color: #444;
}

body {
	font: 16px/26px Helvetica, Helvetica Neue, Arial;
}


.mSwipeSlider {max-width:500px; margin:0 auto; background: #ccc;}
.mSwipeSlider * {margin: 0; padding: 0; box-sizing:border-box; -moz-box-sizing:border-box;}
.mSwipeSlider-sled {background: #fcc;}
.mSwipeSlider-sled > li {background: #c55; padding: 1em 2em;}

.mSwipeSlider-prev, .mSwipeSlider-next {position: absolute; top: 50%; margin-top: -15px; line-height: 20px; padding: 10px 15px; border:0; background: rgba(255,255,255,0.1); font-weight: bold; cursor: pointer; outline: 0; -webkit-transition: background 0.1s;  -moz-transition: background 0.1s; transition: background 0.1s; -moz-transition: border 0.2s; transition: border 0.2s; -moz-transition: padding 0.2s; transition: padding 0.2s;}
.mSwipeSlider-prev {left: 0; border-radius: 0 50% 50% 0;}
.mSwipeSlider-next {right: 0; border-radius: 50% 0 0 50%;}

.mSwipeSlider button:hover {background: rgba(255,255,255,0.5); }
.mSwipeSlider button:focus {border: solid 3px #eee; margin-top: -18px;}
.mSwipeSlider .mSwipeSlider-next:focus {border-right: 0;}
.mSwipeSlider .mSwipeSlider-prev:focus {border-left: 0;}

.mSwipeSlider.firstSlide .mSwipeSlider-prev, .mSwipeSlider.lastSlide .mSwipeSlider-next, .mSwipeSlider button:disabled {background:rgba(255,255,255,0.1); filter: alpha(opacity=50); opacity: 0.5;  cursor: default;}